/* FONTS */
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #1a1a1a;
}

.home-view,
.projects-view,
.contact-view,
.about-view {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.cards-container {
  justify-content: center;
}

h1,
h2,
h3,
h4,
h5,
p {
  font-family: "Roboto", sans-serif;
  color: #ffffff;
}

h1 {
  margin-top: 60px;
  font-size: 6.2rem;
  line-height: 0.9;
  font-weight: 900;
}

h3 {
  font-size: 2rem;
}

h5 {
  font-size: 1.3rem;
}

b {
  font-weight: 550;
}

/* DESKTOP */
@media (min-width: 992px) {
  h1 {
    font-size: 7rem;
  }

  h3 {
    font-size: 3.5rem;
  }

  h5 {
    font-size: 1.4rem;
  }

  .cards-container {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 30px;
  }
}
