.footer-wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 20px;
  background-color: white;
  font-size: 1.3em;
}

.footer-wrapper img {
  width: 30px;
}

.link-container {
  display: flex;
  align-items: center;
  margin: 10px;
}

.link-container a {
  text-decoration: none;
  color: black;
  padding: 10px;
}
