.top-section-wrapper {
  width: 95vw;
  display: flex;
  flex-direction: column;
}

.top-section-title {
  text-align: right;
}

.top-section-textbox {
  margin: 40px 0px 40px;
}

.top-section-textbox p {
  margin-bottom: 20px;
  font-size: 1.4rem;
}

.top-section-image-container {
  width: 100%;
  display: flex;
  justify-content: center;
}

.top-section-profile-img {
  width: 100vw;
  object-fit: cover;
}

/* DEKSTOP */
@media (min-width: 992px) {
  .top-section-wrapper {
    display: flex;
    align-items: center;
  }

  .top-section-title {
    text-align: center;
  }

  .top-section-content {
    display: flex;
    flex-direction: row;
    margin: 40px;
  }

  .top-section-textbox {
    width: 45vw;
    max-width: 565px;
    margin: 0 20px 0;
  }

  .top-section-image-container {
    max-width: 600px;
    display: block;
  }

  .top-section-profile-img {
    width: 50vw;
    max-width: 600px;
    object-fit: contain;
  }

  .top-section-textbox p {
    font-size: 1.5rem;
  }
}
